<!-- mymqttapp/templates/mqtt_connected.html -->

<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MQTT</title>
</head>
<body>

<h1>Conexión MQTT establecida con éxito</h1>
<p>Servidor: {{ MQTT_CONFIG.mqtt_server }}</p>
<p>Puerto: {{ MQTT_CONFIG.mqtt_port }}</p>
<p>Usuario: {{ MQTT_CONFIG.mqtt_user }}</p>
<p>Temas suscritos: {{ MQTT_CONFIG.mqtt_topics }}</p>

<a href="{% url 'close_mqtt_connection' %}">Cerrar conexión MQTT</a>
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 20px;
        padding: 20px;
        text-align: center;
    }

    h1 {
        color: #336699;
    }

    p {
        color: #555;
    }
</style>
</body>
</html>

